<ion-header [translucent]="true">
  @if (this.auth.loggedIn()) {
    <ion-toolbar color="primary">
      <ion-title>
        Lista de compras
      </ion-title>
    </ion-toolbar>
  }
</ion-header>

<ion-content [fullscreen]="true">
  @if (this.auth.loggedIn()) {
    <app-item-compra-form (itemSubmit)="handleCreate($event)"></app-item-compra-form>
    <ion-list>
      @for (item of items; track item ) {
        <app-item-compra [itemCompra]="item" (delete)="handleDelete($event)" (check)="handleCheck($event)"></app-item-compra>
      }
    </ion-list>
  }
</ion-content>
